@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: #F2F2F2
  ;
  color: #000000;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-header-title {
  font-family: inherit;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.searched-hotels,
.catalog-subscribe-title,
.slogan-title,
.search-title {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.subscribe-title {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe-text {
  color: #ffffff;
}

.text {
  font-family: inherit;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-item,
.catalog-filter-title {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.navigation-link {
  text-decoration: none;
  color:#000000;
  background-color: #ffffff;
  text-align: center;
}

.text {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
}

.main-index-hero {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../hero/hero-banner-sedona.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  text-align: center;
}

.hero-slogan {
  text-align: center;
}

.advantages-list {
  text-align: center;
}

.advantages-title,
.hotel-card-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.advantages-title {
  text-transform: uppercase;
}

.navigation-list,
.navigation-user,
.advantages-list,
.social-media-list,
.breadcrumbs,
.catalog-filter-list,
.hotel-list,
.pagination {
  list-style: none;
  padding: 0;
}

.catalog {
  background-image: url("../catalog/photo-filter-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
}

.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.advantages {
  background-color: rgba(131, 179, 211, 0.12);
}
.sorting-container {
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.hotel-card {
  background-color: #ffffff;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  color:#000000;
}

.subscribe-index {
  background-color: #ffffff;
  background-image: url("../main-page/photo-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  margin: 0 auto;
}

.subscribe {
  background-color: #ffffff;
  text-align: center;
}

.slogan-title,
.slogan-text,
.search-title,
.search-text,
.subscribe-title,
.subscribe-text {
  text-align: center;
}

.catalog-filter {
  font-family: inherit;
  color: #ffffff;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-disabled {
  color: #000000;
  background-color: inherit;
}

.page-footer{
  background-color: #ffffff;
}

.footer-contacts-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}
