@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #F2F2F2;
  color: #000000;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 0px;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.center {
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 0;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  border: none;
  cursor: pointer;
}

.navigation-link {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  display: block;
  margin: 0;
  padding: 20px 16px;
}

.subscribe-button {
  width: 232px;
  height: 52px;
  border: solid 2px #82B3D3;
}

.search-button {
  padding: 8px 50px;
}
.filter-button {
  width: 191px;
  height: 36px;
  margin-bottom: 32px;
}

.input-field {
  width: 475px;
  height: 52px;
  box-sizing: border-box;
}

.brown-button {
  background-color: #756157;
}

.blue-button {
  background-color: #82B3D3;
}

.green-button {
  background-color: #7DB54F;
}

.gray-button {
  background-color: #F2F2F2;
  color: #000000;
}

.filter-buttons {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.transparent-button {
  width: 191px;
  height: 36px;
  background-color: transparent;
}

.sort-button {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: solid 2px #E5E5E5;
  box-sizing: border-box;
  ;
}

.card-button {
  width: 140px;
  height: 36px;
}

.card-button-about {
  padding: 8px 26px;
  box-sizing: border-box;
}

.catalog-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 8px;
}

.searched-hotels,
.subscribe-title,
.slogan-title,
.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 0;
}

.white-text {
  color: #ffffff;
}

.navigation-link,
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  padding: 8px 34px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  margin-top: 14px;
}


.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.searching {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  padding-bottom: 20px;
  margin: 0 auto;
}

.search-text {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 54px;
  box-sizing: border-box;
}

.main-index-hero {
  background-color: #756157;
  background-image: url("../hero/hero-banner-sedona.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-slogan {
  display: block;
  margin: 0 auto;
}

.advantages-title,
.hotel-card-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.slogan {
  width: 660px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 90px;
}

.advantages-title {
  width: 175px;
  margin: 0 auto;
  text-transform: uppercase;
  padding-bottom: 62px;
}

.advantages-title-more {
  padding-top: 0;
  padding-bottom: 30px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.catalog-header-container {
  background-image: url("../catalog/photo-filter-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  margin-right: 28px;
}

.breadcrumbs-icon {
  color: #ffffff;

}

.filter-content {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.advantages-item {
  width: 400px;
  height: 384px;
}

.advantages-item-blue {
  background-color: #82B3D3;
  color: #ffffff;
  width: 100%;
  display: flex;
}

.advantages-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 85px;
  box-sizing: border-box;
}

.advantages-icon {
  padding-top: 80px;
  padding-bottom: 30px;
}

.advantages-description {
  margin: 0 auto;
  width: 230px;
}

.advantages-title-light {
  padding-top: 103px;
}

.advantages-description-light {
  padding-bottom: 121px;
}

.advantages-item-lightblue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-whiteblue {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-white {
  background-color: #ffffff;
}

.sorting-hotels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 40px;
  color: #000000;
  background-color: #ffffff;
}

.sorting-container .button {
  width: 56px;
  height: 44px;
  background-color: #ffffff;
}

.select-control {
  width: 292px;
  height: 49px;
  border-radius: 4px;
}

.sort-modes {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.sort-icons {
  padding: 15px 14px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.hotel-card {
  width: 340px;
  border: solid 1px #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.hotel-card-information {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}
.subscribe-index {
  background-image: url("../main-page/photo-subscribe.jpg");
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  padding: 20px;
}

.subscribe-text {
  width: 475px;
  margin: auto;
  padding-bottom: 54px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0 70px 0 0;
}

.filter-value {
  padding-left: 70px;
}


.catalog-filter-title {
  margin: 0;
  padding: 0 0 32px 0;
}

.catalog-filter-list {
  margin: 0;
}

.catalog-filter-item {
  padding-bottom: 16px;
}

.catalog-filter-item:nth-child(3n) {
  padding-bottom: 5px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding-bottom: 70px;
}

.catalog-hotels-container {
  width: 1060px;
  margin: 0 auto;
}

.sort-hotels {
  display: flex;
}

.pagination {
  padding-bottom: 60px;
}

.pagination-list {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin: 0 auto;
}

.pagination-link {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-disabled {
  width: 60px;
  text-align: center;
}

.page-footer{
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
}

.social-media-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-media-item {
  width: 48px;
  height: 40px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.social-media-item:nth-child(3n) {
  margin-right: 0;
}
