@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: #F2F2F2;
  color: #000000;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;

}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.center {
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  border: none;
}

.navigation-button {
  display: block;
  width: 160px;
  height: 36px;
}

.brown-button {
  background-color: #756157;
}

.blue-button {
  background-color: #82B3D3;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.searched-hotels,
.catalog-subscribe-title,
.slogan-title,
.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe-text {
  color: #ffffff;
}

.main-header {
  background-color: #ffffff;
}

.navigation-item,
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.navigation {
  display: flex;
  height: 64px;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  display: block;
  margin: 5px;
  padding: 15px;
}

.navigation-list,
.navigation-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.text {
  font-size: 22px;
  line-height: 26px;
}

.main-index-hero {
  background-color: #ffffff;
  background-image: url("../hero/hero-banner-sedona.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages-title,
.hotel-card-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.slogan {
  width: 650px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 90px;
}

.advantages-title {
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-card {
  width: 400px;
  height: 384px;
}

.searching {
  width: 592px;
  margin: auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.catalog {
  background-image: url("../catalog/photo-filter-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  margin: 0 auto;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.advantages-item-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-lightblue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-whiteblue {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-white {
  background-color: #ffffff;
}

.sorting-container {
  background-color: #ffffff;
}

.hotel-card {
  background-color: #ffffff;
}

.hotel-card-link {
  text-decoration: none;
}

.subscribe-index {
  background-color: #ffffff;
  background-image: url("../main-page/photo-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.catalog-filter {
  color: #ffffff;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-disabled {
  background-color: inherit;
}

.page-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
}

.social-media-list {
  display: flex;
  width: 142px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
